[submodule "circuitpy_helpers"]
	path = circuitpy_helpers
	url = https://github.com/niccit/circuitpy_helpers.git
[submodule "YAPP_Box"]
	path = YAPP_Box
	url = https://github.com/mrWheel/YAPP_Box.git
[submodule "threads-scad"]
	path = threads-scad
	url = https://github.com/rcolyer/threads-scad.git
[submodule "pin_connectors"]
	path = pin_connectors
	url = https://github.com/tbuser/pin_connectors.git
